@model IEnumerable<StudentForm.Models.StudentModel>

@{
    ViewData["Title"] = "Home Page";
}
<html>
    <head>
        <style>
           
        </style>
    </head>
    <body>
        <h3>Student List</h3>
    <div>
        <a class="btn btn-primary mb-2" asp-action="DisplayStudentForm" asp-controller="Home">
                Add User
            </a>
        </div>
    @if(Model != null && Model.Any())
    {
        <table class="w-100 table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.Address</td>
                        <td>
                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-primary bg- mx-2 ">
                                 Edit
                            </a>
                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id" class=" btn btn-danger bg- mx-2 ">
                              Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
   
    </body>
</html>
